<div style="padding:20px">

    <div class="resumo-box">
        <div class="ico sitebuilder"></div>
      	<p class="h1 segoeUI">Criador de Sites Grátis</p>
        <h2>Sites Bonito e Rápido</h2>
        <h3>Com a ferramenta simples e prática para criar sua página, em cinco passos você escolhe o layout que deseja e organiza suas informações. Modifique quantas vezes quiser.<br />
      <br /><a href="{{ path('hospedagem_criador') }}">[+] Saiba mais</a></h3>
    </div>
    
    <div class="resumo-box right">
        <div class="ico aplicativos"></div>
        <p class="h1 segoeUI">Instaladores</p>
        <h2>+ 180 Aplicativos Grátis</h2>
        <h3>Os melhores softwares gratuitos de comércio eletrônico, blog, CMS. Incluso em todos os planos Linux os instaladores mais completos do mercado: Fantastico e SoftAculous. <br /><br /><a href="{{ path('hospedagem_instaladores') }}">[+] Saiba mais</a></h3>
    </div>
    
    <div class="clearfloat" style="height:40px"></div>
    
    <div class="resumo-box">
        <div class="ico email"></div>
        <p class="h1 segoeUI">Email Colaborativo</p>
        <h2>Email Exclusivo Incluso</h2>
        <h3>Com servidores exclusivos para email, compartilhe pastas, compromissos, tarefas e anotações com outros usuários. Suporte ao iPhone, Galaxy/Android BlackBerry, tablets e qualquer dispositivo móvel com um navegador web.<br /><br /><a href="{{ path('hospedagem_email') }}">[+] Saiba mais</a></h3>
    </div>
    
    <div class="resumo-box right">
        <div class="ico suporte"></div>
        <p class="h1 segoeUI">Suporte 24 horas</p>
        <h2>Atendimento diferenciado</h2>
        <h3>Nossos analistas e atendentes estão à sua disposição 24 horas por dia, incluindo feriados e finais de semana.  Zelamos pela qualidade e agilidade do nosso atendimento.<br />
          <br /><a href="{{ path('suporte') }}">[+] Saiba mais</a></h3>
    </div>

</div>