<div style="padding:20px">

    <h2>Clientes de hospedagem da WTIS tem um serviço de email diferenciado!</h2>
    <br />
    <h3><strong>Mantenha-se conectado com o e-mail empresarial em qualquer lugar a partir de qualquer dispositivo.</strong></h3><br />
    <span>Compartilhe pastas, compromissos, tarefas e anotações com outros usuários. Suporte a iPhone, iPad, BlackBerry, Android e Windows Mobile. Aumente a produtividade com um conjunto completo de ferramentas de colaboração, mantendo o controle total sobre a segurança e privacidade de sua empresa.</span><br /><br />
    
   <i class="ok">Mais credibilidade para você e seu negócio</i>
   <i class="ok">Colaboração segura, controle completo</i>
   <i class="ok">Receba seus e-mails pelo programa que quiser</i>
   <i class="ok">Migrador de Email</i>
   <i class="ok">O poder da nuvem para o e-mail da sua empresa</i><br />
   <a href="{{ path('email-profissional') }}" class="link-img">Saiba mais</a>

</div>