{% if noHeader is not defined %}
<strong class="h1">Instaladores de Scripts Automáticos</strong>
<br />
<!--<img src="{{ asset('images/2012/caixa-aplicativos.png') }}" style="float:left" />-->O instaladores <strong>Fantastico DeLuxe</strong> e <strong>Softaculous</strong> possuem diversos scripts pré-instalados que não exigem conhecimento técnico para serem habilitados nos seus sites. O acesso a esta opção pode ser realizado diretamente do painel de controle do servidor.<br /><br />
Entre dentro do cPanel e com apenas um passo selecione qual script deseja instalar, e o Softaculous ou Fantastico, fará todo o processo para você de instalação do script.<br />
<br />
<strong>Veja abaixo o quadro comparativo  dos instaladores:</strong>
{% endif %}
<div class="table-default">	
  <div class="fantastico">Fantastico</div>
	<div class="softaculous">Softaculous</div>
  <div class="clearfloat"></div>

  <table class="recursos" summary="Lista de Aplicativos dos Instaladores Softaculous e Fantastico">
			
			<tbody><tr><th colspan="3" class="recurso-destaque" style="border:none">Portais / CMS</th></tr>
			<tr><td><span class="ico-sample"></span>Joomla</td><td width="140"><span class="ico-sim">sim</span></td><td width="140"><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>Joomla 1.7</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td><span class="ico-sample"></span>Drupal</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>Mambo</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td><span class="ico-sample"></span>PHP-Nuke</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>Zikula</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Geeklog</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>			
			<tr class="even"><td>Website Baker</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>SiteFrame</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>sNews</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Pligg</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>MODx</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>phpWebSite</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>Xoops</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Typo3</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>Concrete5</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>phpWCMS</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>e107</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>CMS Made Simple</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Blogs e Micro Blogs</th></tr>
			<tr><td><span class="ico-sample"></span>WordPress</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>	
			<tr class="even"><td><span class="ico-sample"></span>b2evolution</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>LifeType</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Dotclear</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Textpattern</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Nucleus</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Serendipity</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Open Blog</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>eggBlog</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Pixie</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>StatusNet</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>	
			
			<tr><th colspan="3" class="recurso-destaque">E-Commerce (Comércio Eletrônico)</th></tr>
			<tr><td><span class="ico-sample"></span>Zen Cart</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>osCommerce</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td><span class="ico-sample"></span>Magento</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Freeway</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr><td>phpCOIN </td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>			
			<tr class="even"><td>OpenCart</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>phpAuction </td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>PrestaShop</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>phpShop</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>WHMCS</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>CubeCart</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>AccountLab Plus</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>PHP Point Of Sale</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>TheHostingTool</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>TomatoCart</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>		
			
			<tr class="even"><th colspan="3" class="recurso-destaque">Calendários</th></tr>
			<tr><td>WebCalendar</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>	
			<tr class="even"><td>phpicalendar</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>	
			<tr><td>phpScheduleIt</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>	
			
			<tr><th colspan="3" class="recurso-destaque">Educação à Distância - EAD</th></tr>
			<tr><td><span class="ico-sample"></span>Moodle</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>ATutor</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>TCExam</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Email</th></tr>
			<tr><td><span class="ico-sample"></span>SquirrelMail</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>phpList</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Webinsta Maillist</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>poMMo</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr><td>ccMail</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>OpenNewsletter</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>

			<tr><th colspan="3" class="recurso-destaque">ERP</th></tr>
			<tr><td>OrangeHRM</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>FrontAccounting</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Fórums</th></tr>
			<tr><td><span class="ico-sample"></span>phpBB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>AEF</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr><td>XMB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>MyBB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Phorum</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>PunBB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>SMF</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>UseBB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>FluxBB</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>bbPress</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Vanilla</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Frameworks</th></tr>
			<tr><td><span class="ico-sample"></span>yii</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>Zend</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td><span class="ico-sample"></span>xAjax</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>CodeIgniter</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>PHPDevShell</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>PRADO</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Symfony</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>DIY</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>PhpOpenBiz</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>AjaxAC</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>nKohanaom</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Galerias de Imagens e Banners</th></tr>
			<tr><td><span class="ico-sample"></span>Coppermine</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>ZenPhoto</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>TinyWebGallery</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Gallery</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>LinPHA</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Piwigo</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Pixelpost</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>phpAlbum</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Shutter</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>4images</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Noahs Classifieds</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>OpenX</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Kamads</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>PHPads</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>OpenClassifieds</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Gerenciamento de Projetos</th></tr>
			<tr><td>dotProject</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>phpCollab</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>PHProjekt</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>NetOffice</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>ProjectPier</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Mantis Bug Tracker</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>SugarCRM</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Feng Office</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>eyeOS</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Mound</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>The Bug Genie</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>TaskFreak</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
 	
			<tr><th colspan="3" class="recurso-destaque">Livro de visitas (Guest Books)</th></tr>
			<tr><td><span class="ico-sample"></span>phpBook</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Advanced Guestbook</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>BellaBook</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>VX Guestbook</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Lazarus</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>RicarGBooK</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Música</th></tr>
			<tr><td>kPlaylist</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Podcast Generator</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Impleo</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
 
 			<tr><th colspan="3" class="recurso-destaque">Pesquisas de Opinião e Enquetes</th></tr>
			<tr><td><span class="ico-sample"></span>EasyPoll</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>LimeSurvey</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>phpESP</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>LittlePoll</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Simple PHP Poll</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>CJ Dynamic Poll</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Aardvark Topsites</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Advanced Poll</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Piwik</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Redes Sociais</th></tr>
			<tr><td><span class="ico-sample"></span>Dolphin</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Elgg</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>Jcow</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
 	
			<tr class="even"><th colspan="3" class="recurso-destaque">RSS</th></tr>
			<tr><td>Gregarius</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Suporte a Clientes (HelpDesk)</th></tr>
			<tr><td><span class="ico-sample"></span>phpOnline</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Crafty Syntax</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Help Center Live</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>Support Logic Helpdesk</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>			
			<tr><td>Support Services Manager</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>HESK</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>osTicket</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>ExoPHPDesk</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr><td>PerlDesk</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>	 
			<tr class="even"><td>phpSupport</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Open Web Messenger</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>phpMyFAQ</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>iQDesk</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			
			<tr><th colspan="3" class="recurso-destaque">Vídeos</th></tr>
			<tr><td>ClipBucket</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>VidiScript</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Wiki</th></tr>
			<tr><td><span class="ico-sample"></span>MediaWiki</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span></td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>DokuWiki</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>PmWiki</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>TikiWiki</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>WikkaWiki</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			
			<tr><th colspan="3" class="recurso-destaque">Outros</th></tr>
			<tr><td><span class="ico-sample"></span>WeBid</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td><span class="ico-sample"></span>phpFreeChat</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr><td>Dew-NewPHPLinks</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>			
			<tr class="even"><td>FAQMasterFlex</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>			
			<tr><td>Soholaunch Pro Edition</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>Templates Express</td><td><span class="ico-nao">não</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>phpLD</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>Open-Realty</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr><td>Claroline</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>PHPfileNavigator</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>cFTP</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr class="even"><td>PhpGedView</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>phpFormGenerator</td><td><span class="ico-sim">sim</span></td><td><span class="ico-sim">sim</span></td></tr>
			<tr class="even"><td>OpenDocMan</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
			<tr><td>YOURLS</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>			
			<tr class="even"><td>PHP QR Code</td><td><span class="ico-sim">sim</span></td><td><span class="ico-nao">não</span></td></tr>
		</tbody></table>
        
</div>