<p class="h1">Recursos para Desenvolvedores</p>
<br />
<!--<img src="{{ asset('images/2012/caixa-aplicativos.png') }}" style="float:left" />-->Aproveite a experiência dos nossos analistas e hospede em servidores bem configurados para executar com segurança e desempenho as principais linguagens de programação e tecnologias utilizadas na web.
<br />
<br />

<div style="width:32%; float:left">
    <div class="table-default">	
    <table class="recursos" summary="Lista de Recursos para Desenvolvedores">
        <tbody>
            <tr>
                <th class="recurso-destaque">Linguagens de programação</th></tr>
            <tr>
                <td>PHP 5 com php.ini individual</td> <!-- <a href="{{ path('hospedagem_php') }}"></a> -->
            </tr>
            <tr class="">
                <td>ASP</td> <!--<a href="{{ path('hospedagem_asp') }}"></a>-->
            </tr>
            <tr>
                <td>ASP.net</td> <!--<a href="{{ path('hospedagem_asp') }}"></a>-->
            </tr>
            <tr class="even">
                <td><a href="#chat" class="init-chat">* Para outras linguagens consulte-nos</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<div style="width:32%; float:left; margin-left:2%">
    <div class="table-default">	
    <table class="recursos" summary="Banco de dados">
        <tbody>
            <tr>
                <th class="recurso-destaque">Banco de Dados</th>
            </tr>
            <tr>
                <td>MySQL</td>
            </tr>
            <tr class="">
                <td>PostgreSQL</td>
            </tr>
            <tr>
                <td>SQL Server</td>
            </tr>
            <tr class="even">
                <td><a href="#chat" class="init-chat">* Para outras bancos consulte-nos</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<div style="width:32%; float:right">
    <div class="table-default">	
    <table class="recursos" summary="Banco de dados">
        <tbody>
            <tr>
                <th class="recurso-destaque">Mais Ferramentas</th>
            </tr>
            <tr>
                <td>SSH e ferramentas</td>
            </tr>
            <tr class="">
                <td> Repositórios Git </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr class="even">
                <td><a href="#chat" class="init-chat">* Para outras ferramentas consulte-nos</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>