<div class="table-default">

<div class="recursos-completos">
    <!--<h2>Recursos Completos de nossa Hospedagem</h2>	-->
	
    <span class="ico-windows">Windows</span>
	<span class="ico-linux">Linux</span>
	<div style="clear:both">
    <table class="recursos" summary="Recursos Completos de nossa Hospedagem">
            <tbody>
            <tr style="border:none">
                <th colspan="3" class="recurso-destaque" style="border:none">Recursos de Email</th>                
            </tr>
            <tr>
                <td width="66%">Aliases de Email</td>
                <td width="90"><span class="ico-sim">sim</span></td>
                <td width="90"><span class="ico-sim">sim</span></td>
            </tr>  
            <tr class="even">
                <td>Auto Resposta</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <td>Contas de Email POP3</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Webmail</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <td>Anti-vírus</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Anti Spam</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
		    <tr>
                <th class="recurso-destaque">Criador de Sites</th>
                <td width="90"><span class="ico-sim">sim</span></td>
                <td width="90"><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <th colspan="3" class="recurso-destaque">Linguagens de Programação</th>
            </tr>
            <tr>
                <td>PHP com Módulos GD (jpg e png sem gif), XML, Session, IMAP, FTP, DBA, Curl, Zlib, Imap     	
                </td><td><span class="ico-sim">sim</span>/versão 5.0+</td>
                <td><span class="ico-sim">sim</span>/versão 5.0+</td>
            </tr>
            <tr class="even">
                <td>ASP.NET</td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span>/Versões 1, 2, 3.5 e 4</td>
            </tr>
             <tr>
                <td>ASP</td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td> 
                	<ul class="default">
						<li><b>Componentes ASP:</b></li>
						<li>Conexão de banco de dados: ADODB;</li>
						<li>Envio de arquivos: Dundas Upload e AspUpload;</li>
						<li>Envio de emails: CDOSYS, JMail, ASPEmail;</li>
						<li>Gerenciamento de arquivos: Microsoft FileSystem;</li>
						<li>Reconhecimento de browser: Microsoft Browser Capability;</li>
						<li>Outros: ServerXMLHTTP, XMLDOM e XMLHTTP;</li>
						<li>Outros componentes: consultar disponibilidade.</li>  
					</ul>                      
                </td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>

            <tr>
                <th colspan="3" class="recurso-destaque">Bancos de Dados</th>
            </tr>
            <tr>
                <td>MySQL 5</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>                                        
            </tr>
            <tr class="even">
                <td>PostgreSQL 8.1</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>                    
            </tr>
            <tr>
                <td>Access</td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Microsoft SQL Server 2008</td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr> 
            <tr>
                <th colspan="3" class="recurso-destaque">Recursos do Painel do Servidor</th>
            </tr>
            <tr>
                <td>PhpMyAdmin</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Gerenciador de arquivos pela web</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>                    
            </tr>
            <tr>
                <td>Estatísticas Gráficas (AWStats)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>                    
            </tr>
            <tr class="even">
                <td>
                	<ul class="default">
						<li><b>Principais recursos do painel de controle:</b> </li>
						<li>Adicionar/remover subdomínios;</li>
						<li>Gerenciar banco de dados e seus usuários;</li>
						<li>Adicionar/remover alias de domínio;</li>
						<li>Gerenciar contas POP3;</li>
						<li>Adicionar/remover auto respostas;</li>
						<li>Alterar senha do usuário de FTP/painel;</li>
						<li>Gerenciar redirecionamentos de email;</li>
						<li>Consultar estatísticas do site.</li> 
					</ul>                       
                </td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>					
            </tr>
            <tr>
                <th colspan="3" class="recurso-destaque">Recursos Gerais do Servidor</th>
            </tr>
            <tr>
                <td>Apache</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>                  
            </tr>
            <tr class="even">
                <td>Server Side Includes (SSI)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>                  
            </tr>
            <tr>
                <td>Backup semanal</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>                  
            </tr>
            <tr class="even">
                <td>SSL (https://) (opcional)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr>
                <td>Páginas de erro configurável</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr class="even">
                <td>Proteção de diretórios com senha (.htaccess)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr>
                <td>Compatibilidade WAP (wml) ou qualquer outro mime-type (mediante solicitação)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Shockwave Flash, JavaScript e qualquer outro recurso client-side</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr>
                <td>IIS 6 </td>
                <td><span class="ico-nao">Não</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr class="even">
                <td>Tarefas Agendadas</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>          
            </tr>
            <tr>
                <th class="recurso-destaque">Domínio próprio com extensões nacional e internacional</th>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <th colspan="3" class="recurso-destaque">Opções de Publicação de Site</th>            
            </tr>
            <tr>
                <td>Acesso via FTP</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Acesso ao SSH (mediante solicitação)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>
            </tr>
            <tr>
                <td>Publicação por SFTP (mediante solicitação)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>
            </tr>
            <tr>
                <th colspan="3" class="recurso-destaque">Scripts Pré-instalados</th>
            </tr>
            <tr>
                <td><a href="/hospedagem/instaladores">Fantástico</a> - instalador automático de scripts</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>
            </tr>
            <tr class="even">
                <td><a href="/hospedagem/instaladores">Softaculous</a> - instalador automático de scripts</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-nao">Não</span></td>
            </tr>
            <tr>
                <td>Formmail (processador de formulários)</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <th width="66%" colspan="3" class="recurso-destaque">Estrutura de Atendimento</th>           
            </tr>
            <tr>
                <td>Atendimento por painel</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Atendimento por chat</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr>
                <td>Atendimento por telefone</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
            <tr class="even">
                <td>Atendimento 24 horas x 5 dias</a> e emergencial nos demais períodos</td>
                <td><span class="ico-sim">sim</span></td>
                <td><span class="ico-sim">sim</span></td>
            </tr>
     
    	</tbody>
    </table>
	</div>

</div>


</div>