{% extends "WebsiteBundle:Default:index.html.twig" %}

{% block title %}
<title>Recursos da Hospedagem - WTIS</title>
{% endblock %}

{% block metas %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/hospedagem.recursos.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/pages/hospedagem.recursos.js') }}"></script>
{% endblock %}

{% block body %}

<div class="pageFullBanner">
    <div style="padding-top:10px"><img src="{{ asset('images/2012/pages/b_hospedagem.recursos.jpg') }}" style="float:none; margin:auto" /></div>
    <div class="clearfloat"></div>
</div>

<div class="recursosContent">

    <a name="aparencia"></a>
    <div class="aparencia">

        <div class="titleFull segoiUI"><span>Recursos</span> da hospedagem</div>
        <div class="subtitleFull segoiUI">Compare tudo que oferecemos. São muitas vantagens em um só lugar</div>

        <div class="boxesCenter2">
            <div class="box centerLeft">
                <div style="padding:25px">

                    Content	

                </div>
            </div>
			
            {% include "WebsiteBundle:Produtos:include.hospedagem.recursos.right.html" %}
            
        </div>

    </div>

</div>

{% endblock %}