<div class="mineRight">
    <a href="#" class="btnG testeButton">Teste por 15 dias grátis</a>
    <div class="linksPosButton"><a href="{{ path('suporte') }}">Fale conosco</a>&nbsp; | &nbsp;<a href="{{ path('hospedagem') }}#preco">Nossos preços</a></div><br />
</div>

<div class="box mineRight">
    <h2 class="box-title">Recursos disponíveis</h2>
    <hr size="1" color="#CCCCCC">
    <div style="padding:25px; padding-top:0; font-size:13px; color:#666666;">
        <div class="features">
        <ul>
            <li><a href="{{ path('hospedagem_email') }}" class="p-email">Email Colaborativo</a></li>
            <li><a href="{{ path('hospedagem_marketing_email') }}" class="p-emkt">Email Marketing</a></li>
            <li><a href="{{ path('hospedagem_marketing_sms') }}" class="p-smsmkt">SMS Marketing</a></li>
            <li><a href="{{ path('hospedagem_criador') }}" class="p-criador">Construtor de Sites</a></li>
            <li><a href="{{ path('hospedagem_instaladores') }}" class="p-instaladores">Aplicativos Grátis</a></li>
            <li><a href="{{ path('hospedagem_painel') }}" class="p-painel">Painel de Controle</a></li>
            <li><a href="{{ path('hospedagem_painel') }}#subdominios" class="p-painel-subdominios">Domínios e Subdomínios Ilimitados</a></li>
            <li><a href="{{ path('hospedagem_painel') }}#estatisticas" class="p-painel-estatisticas">Estatísticas Diárias</a></li>
            <li><a href="{{ path('hospedagem_backup') }}" class="p-backup">Backup Diário</a></li>
            <li><a href="{{ path('suporte') }}">Suporte 24h</a></li>
        </ul>
    	</div>
    </div>
</div>

<div class="box mineRight mine">
    <div style="padding:27px; padding-bottom:18px">
        <div class="leftTitle segoiUI">Fale conosco via chat</div>
    </div>
    <div style="text-align:center"><img src="{{ asset('images/2012/img_chat.jpg') }}" width="298" height="122" alt="Chat" /></div>
    <div style="padding:27px; clear:both">
        <a href="#meligue" data-toggle="modal" data-target="#meLigueModal" data-product="Hospedagem" class="btn btn-primary btn-blue blue2"><i class="glyphicon glyphicon-earphone"></i> Me ligue</a> <a href="#chat" class="btn btn-primary btn-blue blue2 init-chat"><i class="glyphicon glyphicon-comment"></i> Fale via chat</a>
    </div>
</div>