<div class="col-6 last">
    <h3 class="stars"><font><font>CentOS, Ubuntu ou Debian</font></font></h3>
    <p><font><font>Seu servidor será pré-configurado e ativo com a sua distribuição  Linux favorita. </font><font>CentOS, Ubuntu ou Debian, é da sua escolha!</font></font></p>
    <h3 class="stars"><font><font>Acesso Shell (SSH) completo</font></font></h3>
    <p><font><font>Você será o  administrador do seu servidor. </font><font>Desfrute do acesso root completo para instalar qualquer software que você precisa.</font></font></p>
  <h3 class="stars"><font><font>O ideal LAMP (servidor web pronto</font></font>)</h3>
    <p><font><font>Linux, Apache, MySQL e PHP / Perl ou Python  (LAMP) utilizado por <font>milhões</font> de web sites e aplicações em todo o mundo. </font><font>Transforme seu novo Linux Server  em uma  poderosa <font>plataforma</font> LAMP usando o apt-get ou yum.</font></font></p>
    <h3 class="stars"><font><font>Plataformas Web Open Source</font></font></h3>
    <p><font><font>Um servidor executando o LAMP suporta uma ampla gama de websites prontos e <font>plataformas</font> de gerenciamento de conteúdo como Wordpress, Drupal, Joomla, bem como centenas de scripts gratuitos de loja virtual, wiki e galeria de fotos. </font><font>Basta instalá-lo e começar a usar!</font></font></p>
    <h3 class="stars"><font><font>Enorme comunidade de desenvolvedores </font></font></h3>
    <p><font><font>A popularidade do Linux e sua aproximação com a comunidade  torna fácil de encontrar ajuda e recursos online. </font><font>Quem sabe, uma vez que estiver a bordo, você possa ficar viciado em seu servidor e talvez você acabe contribuindo código para a próxima versão de sua distribuição Linux favorita!</font></font></p>
</div>