<div class="col-6 first">
<h3 class="stars"><font><font>Grande variedade de edições</font></font></h3>
    <p><font><font>Web Edition: Uma poderosa aplicação  e plataforma de serviços <font>web</font> concebidos exclusivamente como um servidor voltado para a Internet. </font><font>Ela oferece uma administração melhorada e ferramentas de diagnóstico para ajudar a reduzir os custos de infra-estrutura.</font></font></p>
    <p><font><font>Standard Edition: O mais robusto sistema operacional Windows Server até o momento. </font><font>Ele oferece ferramentas poderosas que dão a você mais controle sobre seus servidores, agiliza e simplifica a configuração de tarefas de gestão.</font></font></p>
    <h3 class="stars"><font><font>SQL Server &amp; Tools</font></font></h3>
<p><font><font>
      Poderoso banco de dados, o Servidor SQL 2008 R2 oferece recursos inovadores que irão permitir que sua empresa expanda com confiança suas operações de bancos de dados, melhore a eficiência de TI e desenvolvimento, e possibilite Business Intelligence altamente expansível e bem gerenciado de maneira self-service para seus usuários.
  </font></font></p>
    <ul class="list-check">
      <li class="ok"><font><font>Plataforma confiável e escalável</font></font></li>
      <li class="ok"><font><font>Mais eficiência para desenvolvedores</font></font></li>
      <li class="ok"><font><font>Baixo custo, mais benefícios</font></font></li>
    </ul>
    <br />
    <h3 class="stars"><font><font>Framework ASP.NET</font></font></h3>
    <p><font><font>Um completo e gratuíto framework web  que ajuda você a criar soluções de ponta para web facilmente.</font></font></p>
    <h3 class="stars"><font><font>IIS Web Server</font></font></h3>
    <p><font><font>Hopede com confiança aplicações em ASP.NET e também aplicações web em PHP.</font></font></p>
<h3 class="stars"><font><font>Ferramentas de Desenvolvimento</font></font></h3>
  <p><font><font> Ferramentas (<font>Built-in</font>) de desenvolvimento para construção de sites, <font>aplicações e serviços</font> baseados em padrões web.</font></font></p>
</div>