@charset "utf-8";
/*	developed by tiagofelipe.com
	v0.1 stylesheet
*/

.gerserv-header-bg{
	background:url(../images/pages/gerenciamento-servidor/header-bg.jpg) 50% 0 no-repeat fixed;
	height:334px;
	position:relative;
}
.fcontent{
	padding-top:90px;
	color:#FFF !important;
	z-index:2;
	position:relative;
	text-align:center;
}
.fcontent h1{
	font-size:50px;
	font-weight:400;
	color:#FFF;
	text-align:center;
}
.fcontent h1 strong, .fcontent .h1 strong{
	color:#FF7F00;
}
.fcontent span{
	font-size:24px;
	margin-top:-14px;
	display:block;
}
.fcontent .atendimento-opcoes{
	margin-top:26px;
}
.fcontent .atendimento-opcoes a{
	margin-right:20px;
}
.fcontent .atendimento-opcoes .telefone{
	display:block;
	clear:both;
	font-size:18px;
	margin:15px 0 8px 0;
}
.fcontent .atendimento-opcoes .telefone strong{
	font-size:22px;
	font-weight:400;
}
#vantagens h1, #vantagens .h1{
	margin:46px 0;
	text-align:center;
}
#vantagens{
	margin-bottom:50px;
}
#vantagens ul{
	list-style:none;
}
#vantagens ul li{
	width:244px;
	display:block;
	float:left;
	margin-left:60px;
}
#vantagens ul li:first-child{
	margin-left:0 !important;
}
#vantagens ul li h2, #vantagens ul li .h2{
	font-size:16px;
	color:#333333;
	font-weight:400;
	margin:15px 0 8px 0;
}
#recursos ul{
	list-style:none
}
#recursos ul li{
	display:block;
	float:left;
	width:50%;
	height:257px;
	padding:34px 34px 34px 145px;
	background-color:#FFFFFF !important;
	border:#E4EEF2 1px solid;
	position:relative;
}
#recursos ul li h2, #recursos ul li .h2{
	font-size:22px;
	font-weight:400;
}
#recursos ul li span{
	font-size:13px;
}
#recursos ul li i{
	position:absolute;
	left:25px;
	top:40px;
}
#price{
	margin:40px auto;
}
.table-price tr td:first-child{
	font-weight:400 !important;
}
.table-price .item{
	width:35%;
}
@media screen and (max-width: 767px) {
	#page-menu{
		display:none;
	}
	.gerserv-header-bg {
	  height: auto;
	}
	.fcontent {
	  padding: 50px 15px 15px;
	}
	.fcontent h1, .fcontent .h1 {
	  font-size: 32px;
	}
	.fcontent .atendimento-opcoes a {
	  margin-right: 0;
	}
	#vantagens{
		padding:15px;
	}
	#vantagens ul li {
	  width: 100%;
	  float: none;
	  margin-left: 0;
	  margin-bottom:40px;
	}
	.center-full.azul {
	  padding: 15px 0;
	}
	#recursos > div > h1, #recursos > div > .h1{
		text-align:center;
		padding:15px;
	}
	#recursos ul li {
	  float: none;
	  width: 100%;
	  height: auto;
	  padding: 15px;
	  text-align:center;
	}
	#recursos ul li i {
	  position: relative;
	  left: 0;
	  top: 0;
	  widows:100%
	}
	#price{
		padding:15px;
	}
}
@media screen and (min-width: 767px) and (max-width: 1167px) {
	
}