<div class="contato text-center">
    <a href="#meligue" data-toggle="modal" data-target="#meLigueModal" data-product="Consultoria" class="button10 cinza meligue">Nós ligamos para você<i></i></a>  &nbsp;
    <a href="#chat" class="button10 verde init-chat" data-product="Consultoria em TI">Fale conosco via chat<i></i></a>
    <div class="liguetexto">Ou ligue <strong>{{ telefoneComercial }}</strong></div>
    <div class="liguetexto2 whatsapp"><i></i> <div>{{ telefoneWhatsapp }}</div></div>
    <div class="liguetexto-mais"><a href="#telefones" class="mais-telefones">Mais telefones</a></div>
</div>