<section id="posvenda" class="center-977">
    <p class="h1">Pós-venda e Gerenciamento</p>
    <span>Motivo de preocupação de muitos clientes que, após a entrega do serviço por parte do fornecedor, com o tempo o mesmo fica ultrapassado, desatualizado e começa até mesmo a apresentar falhas. A WTIS possui conceitos pós-venda que poucas empresas oferecem, inclusive uma solução completa onde a WTIS cuida de tudo para o cliente preocupar somente com seu negócio.<br><br>
Todos nossos clientes, independente do serviço ou solução tem direito pós-venda do nosso suporte por tempo indeterminado e sem custo, mas recomendamos a contratação do serviço Pós-venda Pro, que oferece inúmeras vantagens e recursos para o cliente.</span>
    <div class="comparativo-basico">
        <div class="gratis">
            <h2><strong>Grátis</strong> e por tempo indeterminado</h2>
            <ul>
                <li><i class="icon2 suporte"></i><strong>Suporte nos dias úteis</strong> pelo Contact Center via
                    helpdesk a qualquer problema apresentado nos serviços entregues, com a disponibilização sem custo de
                    qualquer profissional necessário, por exemplo: Programador, Design, Analista de infraestrutura e
                    outros.
                </li>
                <li><i class="icon2 qualidade"></i><strong>Verificação mensal dos serviços</strong> por um Consultor
                    WTIS que, caso necessário, fará recomendações de melhorias, inovação e segurança.
                </li>
            </ul>
        </div>
        <div class="pro">
            <h2>Pós-venda <strong>Pro</strong></h2>
            <ul>
                <li><i class="icon2 suporte laranja"></i><strong>Suporte 24 horas por dia</strong> durante os 7 dias da
                    semana pelo Contact Center via <strong>helpdesk</strong>, <strong>chat</strong> e
                    <strong>telefone</strong> a qualquer problema apresentado nos serviços entregues.
                </li>
                <li><i class="icon2 qualidade laranja"></i><strong>Gerenciamento diário dos serviços</strong> por
                    consultores e analistas WTIS que inclui: Suporte, atualização, manutenção preventiva e evolutiva de
                    todos os serviços entregues ao cliente.
                </li>
            </ul>
            <div class="clearfloat"></div>
            <br/>
            <a href="{{ path('pos-venda') }}#vantagens-comparativo" class="link-img scroll">Veja todos os recursos do
                Pós-venda Pro</a>
        </div>
        <div class="clearfloat"></div>
    </div>
</section>

<div class="center-full posvenda-details">
    * O <strong>Pós-vendas Pro</strong> pode ser utilizado nos seguintes serviços: Websites, Mobile e Softwares
    desenvolvidos pela fábrica.<br>
    * Para redes sociais consulte nosso serviço <a href="#chat" class="init-chat"
                                                   data-product="Gerenciamento de Redes Sociais">Gerenciamento de Redes
    Sociais.</a><!-- {{ path('gerenciamento-redes-sociais') }} --><br>
    * Para produtos como servidores dedicados, cloud e streaming consulte nosso serviço <a
        href="{{ path('gerenciamento-servidor') }}">Gerenciamento de servidores</a>.<br>
    * Para outros serviços <a href="#chat" class="init-chat">fale com um dos nossos consultores via chat</a>
</div>

{% if noform is not defined %}

<section id="vantagens-comparativo" class="p2">
    <div class="center-977 content">
        <p class="h1 title">Aproveite o máximo de vantagens com o Pós-venda Pro</p>
        <table class="table table-comparativo">
            <thead>
            <tr>
                <th class="item"></th>
                <th class="descricao">Pós-venda</th>
                <th class="preco text-center">Pós-venda Pro</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Suporte 24x7 por helpdesk, chat e telefone</td>
                <td><i class="nao">Não</i></td>
                <td><i class="sim">Sim</i></td>
            </tr>
            <tr>
                <td>Verificação dos serviços entregues <img src="{{ asset('images/ico-help.png') }}"
                                                            title="Um consultor irá verificar os serviços entregues e, caso necessário, fará recomendações de melhorias, inovação e segurança."
                                                            class="tt" alt="Ajuda"></td>
                <td><i>Mensal</i></td>
                <td><i>Diária</i></td>
            </tr>
            <tr>
                <td>Manutenção preventiva e evolutiva
                    <!--<img src="{{ asset('images/ico-help.png') }}" title="Atualizações de segurança, correção de bugs" class="tt">--></td>
                <td><i class="nao">Não</i></td>
                <td><i class="sim">Sim</i></td>
            </tr>
            <tr>
                <td>Gestão e atualização de conteúdo para websites e mobile</td>
                <td><i class="nao">Não</i></td>
                <td><i class="sim">Sim</i></td>
            </tr>
            <tr>
                <td>Disponibilização de consultores e analistas, por exemplo: Programador, Design, Analista de infra,
                    redes e vários outros <img src="{{ asset('images/ico-help.png') }}"
                                               title="Vários tipos de profissionais sempre à disposição caso seja necessário"
                                               class="tt" alt="Ajuda"></td>
                <td><i class="nao">Não</i></td>
                <td><i class="sim">Sim</i></td>
            </tr>
            <tr>
                <td>Contrato baseado em SLA, suas demandas serão sempre entregues no prazo</td>
                <td><i class="nao">Não</i></td>
                <td><i class="sim">Sim</i></td>
            </tr>
            </tbody>
        </table>
        <div class="text-right"><a href="#price-preview" class="btn btn-sucess btn-success btn-lg scroll">Contrate para
            sua empresa</a></div>
    </div>
</section>

<section id="posvenda-desc" class="center-977 p2">
    <div class="default-title">
        <h2 class="h1">Uma solução ideal para Websites, seja o tamanho que for</h2>
        <p class="h2">Deixe que nós tomamos conta do seu site e concentre apenas em seu negócio.</p>
    </div>
    <ul>
        <li>
            <i data-sr="enter left ease-in-out 6rem wait 0.4s" class="icon2 large update"></i>
            <h4>Atualização do conteúdo do site, como publicações de textos e imagens</h4>
            <span>Conte com uma equipe sempre pronta para atender esta demanda, pois quando se trata de uma publicação no site não se pode esperar, pois pode ser uma notícia urgente, ou uma alteração em algum conteúdo como um evento próximo. Esteja com seu site sempre atualizado. Conte com Designers para criação de imagens como banners, animações em flash, ou simplesmente a edição e adaptação de uma foto em uma publicação, com as proporções e qualidade corretas.</span>
        </li>
        <li>
            <i data-sr="enter left ease-in-out 6rem wait 0.8s" class="icon2 large sac"></i>
            <h4>Monitoramento do que falam sobre sua empresa pela web</h4>
            <span>Utilizando ferramentas avançadas podemos saber tudo que falam sobre sua empresa na web, filtro em redes sociais como Facebook, Twitter, sites de reclamação como o Reclameaqui e outros sites como Blogs, Fóruns etc. Poderemos fazer um filtro de quem está falando mal e bem e direcionar as atenções específicas necessárias para cada um destes clientes.</span>
        </li>
        <li>
            <i data-sr="enter left ease-in-out 6rem wait 1.2s" class="icon2 large seo"></i>
            <h4>Manutenção do SEO e monitoramento do ranking do site nos buscadores</h4>
            <span>Nossa equipe sempre de olho em como está o seu site em relação aos mecanismos de pesquisa. Faremos trabalhos diários de monitoramento e buscando sempre melhorias, para que seu website fique sempre no topo das pesquisas.</span>
        </li>
        <li>
            <i data-sr="enter left ease-in-out 6rem wait 1.6s" class="icon2 large code"></i>
            <h4>Criação de novas páginas estáticas ou dinâmicas incluindo serviço de Design e Programação</h4>
            <span>Não se preocupe com o surgimento de novas ideias ou simplesmente a necessidade de mudar o seu site. Conte sempre com nossos Designers e Programadores para fazer este trabalho para você no tempo que você precisa.</span>
        </li>
    </ul>
    <div class="clearfloat"></div>
</section>

<section id="price-preview" class="center-full cinza p2">
    <div class="center-977">
        <p class="h1 text-center">Planos a partir de <b>R$ 99,00</b> mensais</p>
        {% include "WebsiteBundle:Contato:inc.contato.html.twig" %}
    </div>
    <!--<div class="center-977">
        <p class="h1">Faça uma estimativa de custo e contrate o serviço Pós-Venda Pro</p>
        <div class="form center-full">
            <span class="desc">Nosso serviço é <strong>flexível</strong> e você <strong>paga pelo que utiliza</strong>, mas com base em informações fornecidas por você podemos fazer uma previsão do custo estimado mensal. Nosso contrato é baseado em SLA, onde cada serviço existe um prazo máximo para ser atendido e é sempre respeitado, sujeito a penalidades em caso de não cumprimento do prazo. Cobramos por hora trabalhada por cada profissional envolvido na demanda solicitada pelo cliente.</span>
            <form>
                <label class="monitor">
                    <span>Quer monitorar o que falam da sua empresa na web?</span>
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Sim
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Não
                </label>
                <label class="seo">
                    <span>Quer manutenção SEO e monitoramento nos buscadores?</span>
                    <input type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option1"> Sim
                    <input type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option2"> Não
                </label>

                <label class="publicacoes clearboth">
                    <span>Previsão de publicações por mês nas redes sociais <a href="#redes-sociais" title="Envolve a criação de uma imagem ilustrativa e texto para publicação no facebook, instagram, google+ e linkedin." class="tt">dúvidas?</a></span>
                    <select name="disp-regiao" id="disp-regiao" class="sm sm-default">
                        <option value="">Selecione</option>
                        <option value="4">4 - 1 por semana</option>
                        <option value="8">8 - 2 por semana</option>
                        <option value="16">16 - 4 por semana</option>
                        <option value="21">21 - Todos os dias úteis</option>
                        <option value="42">42 - 2 por dia útil</option>
                    </select>
                </label>
                <label class="criar-imagens">
                    <span>Previsão de publicações por mês no site <a href="#manutencao-site" title="Envolve a publicação de banners, textos e imagens no site." class="tt">dúvidas?</a></span>
                    <select name="disp-regiao" id="disp-regiao" class="sm sm-default">
                        <option value="">Selecione</option>
                    </select>
                </label>
                <label class="flash">
                    <span>Animações em Flash?</span>
                    <select name="disp-regiao" id="disp-regiao" class="sm sm-default">
                        <option value="">Selecione</option>
                    </select>
                </label>
                <label class="fotografo clearboth">
                    <span>Serviço fotográfico? <a href="#fotografo" title="Em alguns casos, o cliente opta por nossa equipe fazer as fotografias dos produtos para edição e inserção no site, ou até mesmo cobrir eventos e publicá-los em tempo real no site." class="tt">pra que?</a></span>
                    <select name="disp-regiao" id="disp-regiao" class="sm sm-default">
                        <option value="">Selecione</option>
                    </select>
                </label>
                <label class="fotografo-finalidade">
                    <span>Finalidade do serviço fotográfico</span>
                    <select name="disp-regiao" id="disp-regiao" class="sm sm-default" disabled>
                        <option value="">Selecione</option>
                    </select>
                </label>

                <label class="cliente clearboth">
                    <span>Você é cliente WTIS?</span>
                    <input type="radio" name="inlineRadioOptions3" id="inlineRadio5" value="option1"> Sim
                    <input type="radio" name="inlineRadioOptions3" id="inlineRadio6" value="option2"> Não
                </label>
                <div class="clearfloat"></div>
                <div class="atendimento-opcoes">
                    <a href="#meligue" class="link-img phone meligue-modal" data-toggle="modal" data-target="#meLigueModal" data-product="Criação de Sites">Nós ligamos para você<i></i></a>
                    <a href="#chat" class="link-img chat init-chat" data-product="Pós-venda e Gerenciamento">Fale conosco via chat<i></i></a>
                </div>
                <div class="result">
                    <span class="desc1">Estimativa mensal</span>
                    <span class="price">R$ <strong>0,00</strong></span>
                    <!--<span class="desc2">* Somente uma estimativa e pode não estar correto. <a href="#">Por que?</a></span>-11->
    <a href="#" class="button10 min-radius verde no-icon">Contratar<i class="glyphicon glyphicon-shopping-cart"></i></a>
    </div>
    </form>

    </div>
    </div>-->
</section>
{% endif %}